<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <!--应用系统部分 -->
    <System>
        <!-- 用于 boracay 组件必须使用到的配置 begin-->
        <AppName>Youyou 车位信息系统</AppName>
        <!--写入到数据表中的 created_by 和 update_by  系统用户-->
        <SystemAdminName>
            systemadmin
        </SystemAdminName>
        <!--访问白名单-->
        <!--# 系统能访问的IP白名单。只有在这个白名单里面的IP才能访问-->
        <!--#内网地址都纳入-->
        <!--#A类10.0.0.0&#45;&#45;10.255.255.255-->
        <!--#B类172.16.0.0&#45;&#45;172.31.255.255-->
        <!--#C类192.168.0.0&#45;&#45;192.168.255.255-->
        <Whitelist>
            127.0.0.1,192.168.0-255.0-255,172.16-31.0-255.0-255,10.0-255.0-255.0-255
        </Whitelist>
        <!---->
        <!--设置是否要做session判断，以便确定用户是否登录-->
        <SessionCheck>false</SessionCheck>
        <!-- 设置是否要做业务活动日志记录 -->
        <RecordBusinessLog>true</RecordBusinessLog>
        <!---->
        <!-- 设置判断 session 中被用于保存用户信息的关键词 -->
        <SessionUserKeyword>
            user_mobile
        </SessionUserKeyword>

        <!-- 用于 boracay 组件必须使用到的配置 end -->

        <!-- 设置上传文件的路径 -->
        <UploadFilePath>/local</UploadFilePath>
        <!-- -->

        <!--短信接口-->
        <Sms>
            <Url>http://222.73.117.158/msg/HttpBatchSendSM</Url>
            <Username>jiuxiangwang</Username>
            <Password>JIUxiangwang2016</Password>
            <BusinessMethod>
                <Register>
                    <!--注册验证码有效时长-->
                    <Duration>1800000</Duration>
                    <!--注册验证码长度-->
                    <Length>6</Length>
                    <Text>尊敬的用户，您注册的手机验证码为：${code}，请填入以完成注册。该验证码有效时间为${duration}分钟，限本次使用。</Text>
                </Register>
                <ForgetPassword>
                    <!--忘记密码验证码有效时长-->
                    <Duration>1800000</Duration>
                    <!--忘记密码验证码长度-->
                    <Length>6</Length>
                    <Text>尊敬的用户，您正在使用忘记密码功能，您的手机验证码为：${code}，该验证码有效时间为${duration}分钟，限本次使用。</Text>
                </ForgetPassword>
                <ReboundOldMobile>
                    <!--修改手机号码验证码有效时长-->
                    <Duration>1800000</Duration>
                    <!--修改手机号码验证码长度-->
                    <Length>6</Length>
                    <Text>尊敬的用户，您正在使用修改手机号码功能， 此手机号将被解开绑定。您的手机验证码为：${code}，该验证码有效时间为${duration}分钟，限本次使用。</Text>
                </ReboundOldMobile>
                <ReboundNewMobile>
                    <!--修改手机号码验证码有效时长-->
                    <Duration>1800000</Duration>
                    <!--修改手机号码验证码长度-->
                    <Length>6</Length>
                    <Text>尊敬的用户，您正在使用修改手机号码功能，此手机号将被绑定。您的手机验证码为：${code}，该验证码有效时间为${duration}分钟，限本次使用。</Text>
                </ReboundNewMobile>
                <ModifyPassword>
                    <!--修改密码验证码有效时长-->
                    <Duration>1800000</Duration>
                    <!--修改密码验证码长度-->
                    <Length>6</Length>
                    <Text>尊敬的用户，您正在使用重置密码功能，您的手机验证码为：${code}，该验证码有效时间为${duration}分钟，限本次使用。</Text>
                </ModifyPassword>
            </BusinessMethod>




        </Sms>
    </System>
    <!---->


    <!--定义错误信息-->
    <exception>
        <system>
            <need_login>
                必须登录系统
            </need_login>
        </system>
        <!--短信验证部分-->
        <sms>
            <validate>
                <vcode>
                    <opid_size_no_match>
                        需要短信验证的方法和传入的验证码数目不一致！| code
                    </opid_size_no_match>
                    <not_set>
                        短信验证码没有设置!| code
                    </not_set>
                    <invalid>

                        <ModifyPassword>
                            该用户没有发送过短信 ！| code
                        </ModifyPassword>

                        <ReboundOldMobile>
                            需要解绑手机的验证码没有发送过! | old_code
                        </ReboundOldMobile>
                        <ReboundNewMobile>
                            需要绑定的手机的验证码没有发送过! | new_code
                        </ReboundNewMobile>
                    </invalid>
                    <expired>
                        <ModifyPassword>
                            验证码过期！| code
                        </ModifyPassword>

                        <ReboundOldMobile>
                            需要解绑手机的验证码已经过期! | old_code
                        </ReboundOldMobile>
                        <ReboundNewMobile>
                            需要绑定的手机的验证码已经过期! | new_code
                        </ReboundNewMobile>
                    </expired>
                    <not_match>
                        <ModifyPassword>
                            验证码不匹配！| code
                        </ModifyPassword>

                        <ReboundOldMobile>
                            需要解绑手机的验证码不匹配! | old_code
                        </ReboundOldMobile>
                        <ReboundNewMobile>
                            需要绑定的手机的验证码不匹配! | new_code
                        </ReboundNewMobile>
                    </not_match>
                    <invalid_method>
                        无效的业务请求| code
                    </invalid_method>
                </vcode>
            </validate>
        </sms>
        <!---->

        <creator>
            <register>
                <mobile_used>
                    手机已经被注册过了！| mobile
                </mobile_used>
                <name_used>
                    用户名已经被注册过了！| passwd
                </name_used>

            </register>
            <login>
                <password_not_match>
                    密码不匹配|password
                </password_not_match>
                <user_not_exit>
                    无此用户|mobile
                </user_not_exit>
                <unHandle>
                    未捕获错误的登录失败
                </unHandle>
                <mobile_is_null>
                    手机号为空 |mobile
                </mobile_is_null>
                <mobile_pattern_wrong>
                    手机号格式错误
                </mobile_pattern_wrong>
            </login>
            <modify>
                <password>
                    <validatecode_not_match>
                        修改密码的时候，验证码不正确！修改失败！| validate_code
                    </validatecode_not_match>
                </password>
            </modify>
            <edit>
                <user_not_exit>
                    无此用户 | mobile
                </user_not_exit>
                <not_company_account>
                    非公司账户
                </not_company_account>
                <not_personal_account>
                    非个人账户
                </not_personal_account>
            </edit>
            <rebound_mobile>
                <old_mobile_not_exist>
                    需要解绑的手机号不存在，或者需要重新登录| oldMobile
                </old_mobile_not_exist>
                <new_mobile_used>
                    要重新绑定的手机号已经被注册了，不能被绑定| newMobile
                </new_mobile_used>
            </rebound_mobile>
            <account_info>
                <company_info_null>
                    公司账户信息为空
                </company_info_null>
                <personal_info_null>
                    个人账户信息为空
                </personal_info_null>
            </account_info>
        </creator>

        <record_company>
            <create>
                <need_login>
                    维护唱片公司信息的时候，必须登录系统。
                </need_login>
                <name_exist>
                    唱片公司名字已经存在了！| officialName
                </name_exist>
                <gentre_not_exist>
                    流派不存在
                </gentre_not_exist>
            </create>
            <edit>
                <record_company_not_exist>
                    唱片公司信息不存在。
                </record_company_not_exist>
                <site_not_exist>
                    网站信息不存在
                </site_not_exist>
            </edit>
            <delete>
                <occupied_by_album>
                    唱片公司信息已经分配给专辑使用了，无法删除！
                </occupied_by_album>
                <occupied_by_song>
                    唱片公司信息已经分配给单曲使用了，无法删除！
                </occupied_by_song>
                <occupied_by_performer>
                    唱片公司信息已经分配了表演人，无法删除！
                </occupied_by_performer>
            </delete>
        </record_company>


        <music>
            <special>
                <singerId>
                    表演人不能为空。
                </singerId>
                <title>
                    歌曲标题不能为空。
                </title>
            </special>
            <update>
                <id>
                    歌曲ID不能为空。
                </id>
                <singerId>
                    表演人不能为空。
                </singerId>
                <title>
                    歌曲标题不能为空。
                </title>
            </update>
        </music>


        <performer>
            <find>
                <info_bean_is_null>
                    表演人参数为空
                </info_bean_is_null>
                <pername_is_null>
                    表演人名称为空
                </pername_is_null>
                <pername_is_exist>
                    表演人名称已存在！| performersName
                </pername_is_exist>
                <not_exist>
                    表演人不存在
                </not_exist>
                <list_is_null>
                    表演人列表为空
                </list_is_null>
            </find>
            <delete>
                <failed>
                    删除表演人失败
                </failed>
                <relates_to_song>
                    表演人与歌曲关联，无法删除
                </relates_to_song>
                <relates_to_album>
                    表演人与专辑关联，无法删除
                </relates_to_album>
            </delete>
            <site>
                <exist>
                    表演人的该网站已存在
                </exist>
                <not_exist>
                    表演人的该网站不存在
                </not_exist>
                <id_is_null>
                    表演人该网站Id为空
                </id_is_null>
                <id_not_exist>
                    表演人该网站Id错误
                </id_not_exist>
            </site>
            <language>
                <not_exist>
                    表演人该国名称不存在
                </not_exist>
                <id_is_null>
                    表演人语言名称Id为空
                </id_is_null>
                <id_not_exist>
                    表演人语言名称Id错误
                </id_not_exist>
            </language>
            <genre>
                <not_exist>
                    表演人没有此流派
                </not_exist>
            </genre>
            <record>
                <performer_null>
                    表演人没有唱片公司
                </performer_null>
            </record>
        </performer>

        <music_genre>
            <not_exist>
                该流派不存在
            </not_exist>
        </music_genre>

        <test>
            <exception>
                测试的错误信息
            </exception>
        </test>
    </exception>

    <!--测试部分-->
    <Test>
        <Item>
            阿萨德飞洒地方111阿斯蒂芬1111
        </Item>
    </Test>
</Config>
